*{
    margin: 0;
    box-sizing: border-box;
}
:root{
    /*===== Colors =====*/
    --black-color: #272727;
    --grey-color: #3B3B3B;
    --blue-color: #3E9CC1;
    --dark-color: #000;
    --text-color: #FFFFFF;
  
    /*===== Margenes =====*/
    --mb-1: .5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;
  
  }

  /* === PORTFOLIO === */
  
  html{
      background-color: var(--black-color);
  }
  .pp{
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    font-style: normal;
    color: var(--text-color);
    margin: var(--mb-3)
  }
  .hh1{
    font-family: futura-pt-bold, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: var(--text-color);
    margin: var(--mb-3);
  }
  .ideas img{
    display: none;

  }
  .figure{
      margin-left: var(--mb-3);
      width: 140px;
  }
  
  .next1, .next2, .next3, .next4 {
    display: flex;
    justify-content: center;
    align-content: center;
    background: none;
    border: none;
    padding: 8px;
    border-radius: 50%;
    outline: 0;
    cursor: pointer;
    position: absolute;
    display: none;
  }
  
  .next1{
    top: 44%;
    right: -20px;
    transform: translate(-50%, -50%);
    color: var(--blue-color);
    
  }
  .next2{
    top: 44%;
    right: -20px;
    transform: translate(-50%, -50%);
    color: var(--blue-color);    

   }
  .next3{
    top: 50%;
    right: -20px;
    transform: translate(-50%, -50%);
    color: var(--blue-color);

  }
  .next4{
    top: 43%;
    right: -20px;
    transform: translate(-50%, -50%);
    color: var(--blue-color);

  }
  
  .wrap {
    width: 100%;
    max-width: 964px;
    position: relative;
    display: flex;
  }
  
  #carousel {
    overflow: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
  }
  
  #carousel::-webkit-scrollbar {
    height: 0;
  }
  
 
  .content1 {
    display: grid;
    grid-gap: 20px;
    grid-auto-flow: column;
    margin: auto;
    box-sizing: border-box;
    margin: var(--mb-2);
  }
  
  .item {
    width: 140px;
    height: 140px;
    background: var(--text-color);
    border-radius: 20px;
  }


  /* === Media Querys ===*/

  /* === Landscape mode small devices 576+ === */

  /* === PORTFOLIO QUERYS ===*/

  @media only screen and (min-width: 576px){
    .hh1{
      margin: var(--mb-4);
    }
    .pp{
      margin: var(--mb-4);
    }
    .figure{
      width: 160px;
    }
    .item{
      width: 160px;
      height: 160px;
    }

  }

  /* === Medium devices 768+ === */
  @media only screen and (min-width: 768px){
  
  }

  /* === Large devices 992+ === */
  @media only screen and (min-width: 992px){

  }
  /* === Extra large devices 1200+ === */
  @media only screen and (min-width: 1200px){

  }
