*{
    margin: 0;
    box-sizing: border-box;
}
 /* === HEADER === */
 header{
  background-color: #272727;
  padding: 0 10px;
  border-bottom: 8px solid #3E9CC1;
}
header h1{
  font-size: 27px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: bold;
  color: #FFFFFF;
  padding: 50px;
}
header nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
header ul{
  display: none;
  list-style-type: none;
}
header a{
  text-decoration: none;
  padding: 30px;
  color: white;
  font-family: futura-pt-condensed, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
}
header a:hover{
  color: #3E9CC1;
}
.fa-bars{
  font-size: 27px;
  padding: 10px;
  color: #FFFFFF;
}
/* === FOOTER === */
footer{
  color: #FFFFFF;
  font-family: futura-pt-condensed, sans-serif;
  font-weight: 400;
  font-style: normal;
}
footer h2{
  font-size: 20px;
  border-bottom: 6px solid #3E9CC1;
  padding: 10px;
  text-align: center;
}
.footer_design{
  background-color: #585757;
  display: flex;
  flex-direction: column;
  font-size: 18px;
}
.copyright{
  text-align: center;
  margin: 10px;
  font-size: 18px;
}
.kontakt_os{
  text-align: right;
  margin-left: 60px ;
  margin-right: 60px;
}
.info_kontaktos li{
  list-style: none;
  font-size: 18px;
}
.ekstra_kontaktos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.sociale_medier{
  text-align: center;
  margin-left: 60px;
  margin-right: 60px;
}
.sociale_medier i{
  padding: 10px;
}
.åbningstider{
  text-align: center;
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 20px;
}

:root{
    /*===== Colors =====*/
    --black-color: #272727;
    --grey-color: #3B3B3B;
    --blue-color: #3E9CC1;
    --dark-color: #000;
    --text-color: #FFFFFF;
  
    /*===== Margenes =====*/
    --mb-1: .5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;
  
  }
  /* === OM OS === */
.banner_omos{
  object-fit: cover;
  object-position: bottom;
  width: 100%;
  border-bottom: 8px solid #3E9CC1;
}
.om_os{
  color: #FFFFFF;
  font-family: futura-pt-condensed, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  text-align: center;
}
.beskrivelse_omos div img{
  max-width: 230px;
}

label img{
  width: 100%;
  height: 197px;
}

.beskrivelse_omos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.beskrivelse_omos label {
  order: initial;
  display: block; 
  background: #3B3B3B;
  margin: 20px;
  padding: 30px;

}

.beskrivelse_omos .beskrivelse_omos2 {
  order: initial;
  display: none;
  padding: 20px;
  background: #3B3B3B;
  color: white;
  width: 100%;
}

.beskrivelse_omos input {
display: none;
}

.beskrivelse_omos input:checked + label {
background: #3E9CC1;
}

.beskrivelse_omos input:checked + label + .beskrivelse_omos2 {
display: block;
}

  /* === PORTFOLIO === */
  
  html{
      background-color: var(--black-color);
  }
  .pp{
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    font-style: normal;
    color: var(--text-color);
    margin: var(--mb-3);
    margin-bottom: var(--mb-6);
  }
  .hh1{
    font-family: futura-pt-bold, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    color: var(--text-color);
    margin: var(--mb-3);
  }
  .ideas div{
    margin-right: auto;
    margin-left: auto;
  }
  .ideas img{
    display: none;

  }
  .figure{
      width: 145px;
  }
  
  .next1, .next2, .next3, .next4 {
    display: flex;
    justify-content: center;
    align-content: center;
    background: none;
    border: none;
    padding: 8px;
    border-radius: 50%;
    outline: 0;
    cursor: pointer;
    position: absolute;
    display: none;
  }
  
  .next1{
    top: 44%;
    right: -20px;
    transform: translate(-50%, -50%);
    color: var(--blue-color);
    
  }
  .next2{
    top: 44%;
    right: -20px;
    transform: translate(-50%, -50%);
    color: var(--blue-color);    

   }
  .next3{
    top: 50%;
    right: -20px;
    transform: translate(-50%, -50%);
    color: var(--blue-color);

  }
  .next4{
    top: 43%;
    right: -20px;
    transform: translate(-50%, -50%);
    color: var(--blue-color);

  }
  
  .wrap {
    display: flex;
  }
  
  #carousel {
    overflow: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
  }
  
  #carousel::-webkit-scrollbar {
    height: 0;
  }
  
 
  .content1 {
    display: grid;
    grid-gap: 20px;
    grid-auto-flow: column;
    margin: auto;
    box-sizing: border-box;
    margin: var(--mb-2);
  }
    .container {
    padding: 80px 0;
  }
  .content {
    position: relative;
  }
  .item, .item1, .item2,
  .item3, .item4, .item5,
  .item6, .item7, .item8, 
  .item9, .item10, .item11,  
  .item12 {
    width: 140px;
    height: 140px;
    background: var(--text-color);
    border-radius: 20px;
    align-self: center;
  }
  .item, .item1, .item2,
  .item3, .item4, .item5,
  .item6, .item7, .item8, 
  .item9, .item10, .item11,  
  .item12 {
    display: block;
    overflow: hidden;
    position: relative;
    border: 2px solid #b3b3b3;
    border-radius: 20px;
    margin: 0 auto;
  }
  .item img .item img, .item1 img, .item2 img,
  .item3 img, .item4 img, .item5 img,
  .item6 img, .item7 img, .item8 img, 
  .item9 img, .item10 img, .item11 img,  
  .item12 img  {
    width: 100%;
    height: auto;
    position: absolute;
    z-index: 0;
    margin:0;
    padding:0;
    -webkit-transition: top 11s;
    -moz-transition: top 11s;
    -ms-transition: top 11s;
    -o-transition: top 11s;
    transition: bottom 11s;
  }
  .item:hover img, .item1:hover img, .item2:hover img,
  .item3:hover img, .item4:hover img, .item5:hover img,
  .item6:hover img, .item7:hover img, .item8:hover img, 
  .item9:hover img, .item10:hover img, .item11:hover img,  
  .item12:hover img  {
    bottom: 0;
    -webkit-transition: all 11s;
    -moz-transition: all 11s;
    -ms-transition: all 11s;
    -o-transition: all 11s;
    transition: all 11s;
  }
  .item2 img{
    bottom: -458px;
  }
  .item1 img, .item4 img, .item9 img{
    bottom: -460px;
  }

  /* === KONTAKT OS === */

  .kontaktos {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.kontakt h2 {
    color: white;
    text-align: center;
    padding: 25px;
    font-size: 30px;
    font-family: futura-pt-condensed, sans-serif;
}

/* KONTAKT OS DIV */

.kontaktosdiv p {
    color: white;
    font-size: 18px;
    line-height: 20px;
    padding: 10px 0 10px 0;
    font-family: futura-pt-condensed, sans-serif;
}

.kontaktosdiv {
    background-color: #3B3B3B;
    padding: 40px;
    margin: 10px 40px 40px 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 20px;
    font-size: 18px;
    min-width: 320px;
}

.kontaktformulardiv {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 7px 50px 7px 50px;
}

/* KONTAKT OS FORMULAR */
form {
    padding: 10px;
    border-radius: 20px;
    font-size: 18px;
}

.kontaktformular {
    border-radius: 10px;
    width: 300px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    padding: 10px;
}

.textbox {
    border-radius: 10px;
    font-size: 18px;
    margin-top: 10px;
    left: 10px;
    margin-bottom: 10px;
}

.sendbutton {
    background-color: #3E9CC1;
    color: white;
    width: 300px;
    height: 30px;
    border-radius: 10px;
    margin-top: 5px;
    margin: auto;
    border: none;
    font-family: futura-pt-condensed, sans-serif;
}

  /* === Media Querys ===*/

  /* === Landscape mode small devices 576+ === */

  /* === PORTFOLIO QUERYS ===*/

  @media only screen and (min-width: 576px){
    .figure{
      width: 160px;
    }
  .item1, .item2,
  .item3, .item4, .item5,
  .item6, .item7, .item8, 
  .item9, .item10, .item11,  
  .item12 {
      width: 160px;
      height: 160px;
    }
    .item1 img, .item2 img, .item4 img, .item9 img{
      bottom: -525px;
    }
    .content1{
      grid-gap: 30px;
    }
    .ideas{
      margin: var(--mb-2);
    }
       /* === KONTAKT OS SIDEN === */
       .kontakt h2 {
        text-align: center;
        font-size: 40px;
    }

    .kontaktos {
        margin: auto;
        width: auto;
    }

    .kontaktosdiv {
        font-size: 30px;
    }
    
    .sendbutton {
        padding: 5px 0 5px 0;
    }

  }

  /* === Medium devices 768+ === */
  @media only screen and (min-width: 768px){
   .figuresection{
      display: grid;
      justify-content: center;
    }
    .ideas{
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    .hh1{
      font-size: 23px;
    }
    .ideas img{
        max-width: 60%;
        display: flex;
        justify-content: center;
        align-self: center;
        margin-left: auto;
        margin-right: auto;      
    }
    .reverse div:nth-of-type(2){
      order: -1;
    }
    .reverse2 div:nth-of-type(1){
      order: -1;
    }
    .reverse2 div:nth-of-type(2){
      order: -1;
    }
    .reverse3 img:nth-of-type(1){
      order: 1;
    }
    .pp{
      font-size: 17px;
    }
  
   /* === HEADER === */

    header nav{
        height: 131px;
    }
    header ul{
        display:flex;
    }
    header h1{
      font-size: 60px;
    }
    .fa-bars{
      display: none;
    }
        /* === KONTAKT OS SIDEN === */
        .kontakt h2 {
          text-align: center;
          font-size: 50px;
      }
  
      .kontaktos {
          flex-direction: row;
          margin: auto;
          width: auto;
          height: auto;
      }
  
      .kontaktosdiv {
          font-size: 30px;
      }
      
      .sendbutton {
          padding: 5px 0 5px 0;
      }
      
  }
    

  /* === Large devices 992+ === */
  @media only screen and (min-width: 992px){
    
    /* === PORTFOLIO === */
  .item1, .item2,
  .item3, .item4, .item5,
  .item6, .item7, .item8, 
  .item9, .item10, .item11,  
  .item12 {
      width: 200px;
      height: 200px;
    }
    .item1 img, .item2 img, .item4 img, .item9 img{
      bottom: -658px;
    }
    .figure{
      width: 200px;
    }
    .content1{
      grid-gap: 40px;
    }
    .hh1{
      margin: var(--mb-6);
    }
    .pp{
      margin: var(--mb-6);
    }
/* === KONTAKT OS SIDEN === */
    .kontakt h2 {
      text-align: center;
      font-size: 60px;
  }

  .kontaktos {
      flex-direction: row;
      margin: auto;
      width: auto;
      height: auto;
  }

  .kontaktosdiv {
      font-size: 30px;
  }

  .kontakt {
      margin: 0 120px 0 120px;
  }
  
  .sendbutton {
      padding: 5px 0 5px 0;
  }

  }
  /* === Extra large devices 1200+ === */
  @media only screen and (min-width: 1200px){
  
  /* === Portfolio === */
  .hh1{
    font-size: 30px;
    margin: var(--mb-6);
  }
  .pp{
    font-size: 25px;
  }

  /* === FOOTER ===*/
  .footer_design{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 8px 0;
  }
  footer div{
    padding: 30px;
  }
  footer h2{
    font-size: 30px;
    text-align: center;
  }

  .kontakt_os p{
    font-size: 25px;
    text-align: right;
  }
  .kontakt_os i{
    font-size: 30px;
    text-align: left;
  }
  .kontakt_os{
    margin-right: 0px;
    margin-left: 0px;
  }
  .sociale_medier{
    margin-left: 120px;
    margin-right: 120px;
  }
  .sociale_medier i{
    font-size: 30px;
    padding: 20px;
  }
  .åbningstider{
    margin-left: 0px;
    margin-right: 160px;
  }
  .åbningstider p{
    text-align: center;
    font-size: 25px;
  }
  .info_kontaktos li{
    font-size: 25px;
  }
  /*om os*/
  .om_os{
    font-size: 30px;
    margin: 20px;
  }
  .beskrivelse_omos label {
    order: 1;
  
  }
  .beskrivelse_omos .beskrivelse_omos2 {
    order: 99; 
  }
   /* === KONTAKT OS SIDEN === */
   .kontakt h2 {
    text-align: center;
    font-size: 70px;
}

.kontaktos {
    flex-direction: row;
    width: auto;
    justify-content: center;
    margin: auto;
    height: 330px;
}

.kontaktosdiv {
    font-size: 30px;
}

.kontakt {
    margin: 0 150px 0 150px;
}

.sendbutton {
    padding: 5px 0 5px 0;
}
  }