*{
    margin: 0;
    box-sizing: border-box;
}

/* === ROOTS === */
:root{
  /*===== Colors =====*/
  --black-color: #272727;
  --grey-color: #3B3B3B;
  --blue-color: #3E9CC1;
  --dark-color: #000;
  --text-color: #FFFFFF;

  /*===== Margenes =====*/
  --mb-1: .5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;

}

/* === PRØVE HEADER === */



 /* === HEADER === */



header{
  position: relative;
  z-index: 2;
  background-color: var(--black-color);
  height: 70px;
  border-bottom: 8px solid #3E9CC1;
  }
header a{
  text-decoration: none;
  padding: 10px;
  color: white;
  font-family: futura-pt-condensed, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}
header a:hover{
  color: #3E9CC1;
}
.logo{
  font-size: 27px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #FFFFFF;
}
.fa-bars{
  font-size: 27px;
  color: white;
  margin-right: var(--mb-2);
}
.header-inner{
  max-width: 100%;
  display: flex;
  justify-content:space-between;
  align-items: center;
  }
  .nav-link{
  color: white;
  text-decoration: none;
  font-size: 20px;
  height: 75px;
  display: flex;
  justify-content:flex-start;
  align-items: center;
  font-family: futura-pt-condensed, sans-serif;
  text-decoration: none;
  
  }
  .mobile-menu{
  position: absolute;
  top: 0;
  width: 100%;
  height: 35%;
  z-index: 5;
  background-color: var(--black-color);
    opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  }
    
  .nav-menu{
  display: none;
  }
  .active{
  left: 0;
  opacity: 1;
  pointer-events: auto;
  transition: left;
  margin-top: 70px;
  }
 
/* === FOOTER === */
footer{
  color: #FFFFFF;
  font-family: futura-pt-condensed, sans-serif;
  font-weight: 400;
  font-style: normal;
}
footer h2{
  font-size: 20px;
  border-bottom: 6px solid #3E9CC1;
  padding: 10px;
  text-align: center;
}
.footer_design{
  background-color: #585757;
  display: flex;
  flex-direction: column;
  font-size: 18px;
}
.copyright{
  text-align: center;
  margin: 10px;
  font-size: 18px;
}

/* === FORSIDE === */

video {  
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
.forside{
  display: flex;
  flex-direction: column;
}
.forside img{
  max-width: 100%;
  margin-top: 5rem;
  margin-bottom: 8rem;
}
.forside h1{
  font-size: 25px;
  font-family: futura-pt-condensed, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: white;
  letter-spacing: 1px;
  margin-top: var(--mb-6);
  margin-left: var(--mb-2);
  margin-bottom: var(--mb-4);
}
.forside ul{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0;
}
.forside li{
  color: white;
  font-size: 25px;
  font-family: futura-pt-condensed, sans-serif;
  font-weight: 700;
  font-style: normal;
  list-style-type: none;
  text-decoration: none;
  text-align: center;
  letter-spacing: 1px;
  padding: 15px;
}
.forside a{
  text-decoration: none;
}

/* === ANIMATION FORSIDE === */
.forside h1{
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}
.forside img{
  animation: fadein 5s;
 -moz-animation: fadein 5s; /* Firefox */
 -webkit-animation: fadein 5s; /* Safari and Chrome */
 -o-animation: fadein 5s; /* Opera */
}
.forside a:nth-of-type(1){  
 animation: fadein 5s;
-moz-animation: fadein 5s;
-webkit-animation: fadein 5s; 
-o-animation: fadein 5s;
}
.forside a:nth-of-type(2){  
animation: fadein 7s;
-moz-animation: fadein 7s; 
-webkit-animation: fadein 7s; 
-o-animation: fadein 7s;
}
.forside a:nth-of-type(3){  
animation: fadein 9s;
-moz-animation: fadein 9s; 
-webkit-animation: fadein 9s; 
-o-animation: fadein 9s;
}
.forside a:nth-of-type(4){  
animation: fadein 11s;
-moz-animation: fadein 11s; 
-webkit-animation: fadein 11s; 
-o-animation: fadein 11s;
}

/* === KONTAKT OS ===*/
.kontakt_os{
  text-align: right;
  margin-left: 60px ;
  margin-right: 60px;
}
.info_kontaktos li{
  list-style: none;
  font-size: 18px;
}
.ekstra_kontaktos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.sociale_medier{
  text-align: center;
  margin-left: 60px;
  margin-right: 60px;
}
.sociale_medier i{
  padding: 10px;
}
.åbningstider{
  text-align: center;
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 20px;
}


  /* === OM OS === */
.banner_omos{
  object-fit: cover;
  object-position: bottom;
  width: 100%;
  border-bottom: 8px solid #3E9CC1;
}
.om_os{
  color: #FFFFFF;
  font-family: futura-pt-condensed, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  text-align: center;
}
.beskrivelse_omos div img{
  max-width: 230px;
}

label img{
  width: 100%;
  height: 197px;
}

.beskrivelse_omos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.beskrivelse_omos label {
  order: initial;
  display: block; 
  background: #3B3B3B;
  margin: 20px;
  padding: 30px;

}

.beskrivelse_omos .beskrivelse_omos2 {
  order: initial;
  display: none;
  padding: 20px;
  background: #3B3B3B;
  color: white;
  width: 100%;
}

.beskrivelse_omos input {
display: none;
}

.beskrivelse_omos input:checked + label {
background: #3E9CC1;
}

.beskrivelse_omos input:checked + label + .beskrivelse_omos2 {
display: block;
}

  /* === PORTFOLIO === */
  
  html{
      background-color: var(--black-color);
  }
  .pp{
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--text-color);
    margin: var(--mb-3);
   
  }
  .hh1{
    font-family: futura-pt-bold, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    color: var(--text-color);
    margin: var(--mb-3);
  }
  .ideas{
    margin-top: var(--mb-6);
  }
  .ideas div{
    margin-right: auto;
    margin-left: auto;
  }
  .ideas img{
    display: none;
  }

  .figure{
      width: 120px;
  }
  
  .next1, .next2, .next3, .next4 {
    display: flex;
    justify-content: center;
    align-content: center;
    background: none;
    border: none;
    padding: 8px;
    border-radius: 50%;
    outline: 0;
    cursor: pointer;
    position: absolute;
    display: none;
  }
  
  .next1{
    top: 44%;
    right: -20px;
    transform: translate(-50%, -50%);
    color: var(--blue-color);
    
  }
  .next2{
    top: 44%;
    right: -20px;
    transform: translate(-50%, -50%);
    color: var(--blue-color);    

   }
  .next3{
    top: 50%;
    right: -20px;
    transform: translate(-50%, -50%);
    color: var(--blue-color);

  }
  .next4{
    top: 43%;
    right: -20px;
    transform: translate(-50%, -50%);
    color: var(--blue-color);

  }
  
  .wrap {
    display: flex;
  }
  
  #carousel1,  #carousel2,  #carousel3, #carousel4 {
    overflow: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
  }
  
  #carousel1::-webkit-scrollbar, 
  #carousel2::-webkit-scrollbar, 
  #carousel3::-webkit-scrollbar, 
  #carousel4::-webkit-scrollbar {
    height: 0;
  }
  
 
  .content1 {
    display: grid;
    grid-gap: 20px;
    grid-auto-flow: column;
    margin: auto;
    box-sizing: border-box;
    margin: var(--mb-2);
  }
    .container {
    padding: 80px 0;
  }
  .content {
    position: relative;
  }
  .item1 img{
    animation: glide 15s 2 normal ease-out;
  }
  
  .item, .item1, .item2,
  .item3, .item4, .item5,
  .item6, .item7, .item8, 
  .item9, .item10, .item11,  
  .item12 {
    width: 140px;
    height: 140px;
    background: var(--text-color);
    border-radius: 20px;
    align-self: center;
    display: block;
    overflow: hidden;
    position: relative;
    border: 2px solid #b3b3b3;
    border-radius: 20px;
    margin: 0 auto;
  }
 
  .item img .item img, .item1 img, .item2 img,
  .item3 img, .item4 img, .item5 img,
  .item6 img, .item7 img, .item8 img, 
  .item9 img, .item10 img, .item11 img,  
  .item12 img  {
    width: 100%;
    height: auto;
    position: absolute;
    z-index: 0;
    margin:0;
    padding:0;
 
  }
  .item:hover img, .item1:hover img, .item2:hover img,
  .item3:hover img, .item4:hover img, .item5:hover img,
  .item6:hover img, .item7:hover img, .item8:hover img, 
  .item9:hover img, .item10:hover img, .item11:hover img,  
  .item12:hover img  {
    bottom: 0;
    -webkit-transition: all 11s;
    -moz-transition: all 11s;
    -ms-transition: all 11s;
    -o-transition: all 11s;
    transition: all 11s;
  }
  .item2 img{
    bottom: -458px;
  }
  .item1 img, .item4 img, .item9 img{
    bottom: -460px;
  }
  .overlay a{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 4;
    background-color: rgb(168, 166, 166, 0.3);
  }
  .jump{
    animation: jump 2.0s infinite;
  }
   .bx{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: var(--blue-color);
    font-size: 35px;
    padding: 52px;
      
  }
  .bx:hover{
    animation: fade;
    -moz-animation: fade 1s; 
    -webkit-animation: fade 1s; 
    -o-animation: fade 1s;
    opacity: 0;
  }

  /* ===  KEYFRAMES === */
  @keyframes jump {
    0% { transform: translate(-50%, -50%) scale(1.25, 0.75); }
    50% { transform: translate(-50%, -60%) scale(1, 1); }
  }
  @keyframes glide {
      0% {
          top:0px;
      }
      100% {
          top: -400px;
      }
  }
  @keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
  /* === Media Querys ===*/

  /* === Landscape mode small devices 576+ === */

 

  @media only screen and (min-width: 576px){
    /* === FORSIDE === */
    .forside img{
      margin-top: 5rem;
      margin-bottom: 4rem;
    }
    .forside ul{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
     /* === PORTFOLIO QUERYS ===*/
     .figure{
      width: 140px;
    }
    .item1, .item2,
    .item3, .item4, .item5,
    .item6, .item7, .item8, 
    .item9, .item10, .item11,  
    .item12 {
      width: 160px;
      height: 160px;
    }
    .item1 img, .item2 img, .item3 img,
    .item4 img, .item6 img, .item9 img, .item10 img, .item11 img{
      bottom: -524px;
    }
    .content1{
      grid-gap: 30px;
    }
    .ideas{
      margin: var(--mb-2);
      margin-top: var(--mb-6);
    }
    .bx{
      font-size: 35px;
      padding: 61px;
    }
    
  }

  /* === Medium devices 768+ === */
  @media only screen and (min-width: 768px){
    /* === HEADER === */
    .nav-menu{
      display:unset;
    }
    .active{
      display: none;
    }
    .fa-bars{
      display: none;
    }
    /* === FORSIDE === */
    
    .forside img{
      margin-top: 3rem;
      margin-bottom: 0;
    }
    .forside h1{
      margin-bottom: var(--mb-6);
    }

    /* === PORTFOLIO === */
   .figuresection{
      display: grid;
      justify-content: center;
    }
    .ideas{
      display: grid;
      grid-template-columns: 1fr 1fr;

    }
    .hh1{
      font-size: 23px;
      margin: var(--mb-5);
    }
    .pp{
      font-size: 17px;
      margin: var(--mb-5);
    }
    .item1, .item2, .item3, 
    .item4, .item5, .item6,
    .item7, .item8, .item9,
    .item10, .item11, .item12 {
      width: 170px;
      height: 170px;
    }
    .item1 img, .item2 img, .item3 img, .item4 img, .item6 img, .item9 img, .item10 img, .item11 img{
      bottom: -558px;
    }
    .figure{
    width: 160px;
    }
    .ideas img{
        max-width: 45%;
        display: flex;
        justify-content: center;
        align-self: center;
        margin-left: auto;
        margin-right: auto;      
    }
    .reverse div:nth-of-type(2){
      order: -1;
    }
    .reverse2 div:nth-of-type(1){
      order: -1;
    }
    .reverse2 div:nth-of-type(2){
      order: -1;
    }
    .reverse3 img:nth-of-type(1){
      order: 1;
    }
    .content1{
      margin: var(--mb-3);
    }
    .bx{
      font-size: 40px;
      padding: 87px;
    }

  }
    

  /* === Large devices 992+ === */
  @media only screen and (min-width: 992px){
    /* === FORSIDE === */
    .forside img{
      margin-top: 1%;
    }
    
    /* === PORTFOLIO === */
    .hh1{
      font-size: 25px;
    }
    .pp{
      font-style: 20px;
    }
  .item1, .item2,
  .item3, .item4, .item5,
  .item6, .item7, .item8, 
  .item9, .item10, .item11,  
  .item12 {
      width: 220px;
      height: 220px;
    }
    .item1 img, .item2 img, .item4 img, .item3 img, .item6 img, .item9 img, .item10 img, .item11 img{
      bottom: -728px;
    }
    .figure{
      width: 180px;
    }
    .content1{
      grid-gap: 40px;
      margin: var(--mb-4);
    }
    .hh1{
      margin: var(--mb-6);
    }
    .pp{
      margin: var(--mb-6);
    }
    .bx{
      font-size: 45px;
      padding: 88px;
    }

  }


  /* === Extra large devices 1200+ === */
  @media only screen and (min-width: 1200px){
  /* === FORSIDE === */
  .forside 
  /* === Portfolio === */
  .item1, .item2,
  .item3, .item4, .item5,
  .item6, .item7, .item8, 
  .item9, .item10, .item11,  
  .item12 {
      width: 260px;
      height: 260px;
    }
    .item1 img, .item2 img, .item4 img, .item3 img, .item6 img, .item9 img, .item10 img, .item11 img{
      bottom: -860px;
    }
  .hh1{
    font-size: 30px;
    margin: var(--mb-6);
  }
  .pp{
    font-size: 25px;
  }
  .figure{
    width: 200px;
  }
  .content1{
    grid-gap: 60px;
    margin: var(--mb-5);
  }
  .bx{
    font-size: 50px;
    padding: 104px;
  }
  /* === FOOTER ===*/
  .footer_design{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 8px 0;
  }
  footer div{
    padding: 30px;
  }
  footer h2{
    font-size: 30px;
    text-align: center;
  }

  /* === KONTAKT OS ===*/

  .kontakt_os p{
    font-size: 25px;
    text-align: right;
  }
  .kontakt_os i{
    font-size: 30px;
    text-align: left;
  }
  .kontakt_os{
    margin-right: 0px;
    margin-left: 0px;
  }
  .sociale_medier{
    margin-left: 120px;
    margin-right: 120px;
  }
  .sociale_medier i{
    font-size: 30px;
    padding: 20px;
  }
  .åbningstider{
    margin-left: 0px;
    margin-right: 160px;
  }
  .åbningstider p{
    text-align: center;
    font-size: 25px;
  }
  .info_kontaktos li{
    font-size: 25px;
  }
  /*om os*/
  .om_os{
    font-size: 30px;
    margin: 20px;
  }
  .beskrivelse_omos label {
    order: 1;
  
  }
  .beskrivelse_omos .beskrivelse_omos2 {
    order: 99; 
  }
  }

  @media only screen and (min-width: 1440px){
    .forside li{
      padding: 0;
    }

    /* === PORTFOLIO === */
    .item1, .item2, .item3, .item4, .item5, .item6, 
    .item7, .item8, .item9, .item10, .item11, .item12 {
      width: 300px;
      height: 300px;
  }
  .figure{
    width: 240px;
  }
  .bx{
    padding: 114px;
  }
  .item1 img, .item2 img, .item3 img,
  .item4 img, .item6 img, .item9 img, .item10 img,
  .item11 img {
    bottom: -995px;
  }
}
@media only screen and (min-width: 1600px){

  /* === FORSIDE === */
  .forside h1{
    font-size: 35px;
    font-family: futura-pt-condensed, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
    letter-spacing: 1px;
    margin-left: 4rem;
    margin-top: 6rem;
    margin-bottom: 4rem;
  }
  video {  
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
  }
  .forside ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .forside li{
    color: white;
    font-size: 30px;
    font-family: futura-pt-condensed, sans-serif;
    font-weight: 700;
    font-style: normal;
    list-style-type: none;
    text-decoration: none;
    text-align: center;
    letter-spacing: 1px;
  
  }

  .forside img{
    margin: auto;
    display: flex;
    margin-bottom: var(--mb-2);
  }

  /* === PORTFOLIO === */
  .item1, .item2, .item3, .item4, .item5, .item6, 
    .item7, .item8, .item9, .item10, .item11, .item12 {
      width: 340px;
      height: 340px;
  }
  .figure{
    width: 280px;
  }
  .bx{
    padding: 123px;
  }
  .item1 img, .item2 img, .item3 img, .item4 img, .item6 img, .item9 img, .item10 img, .item11 img {
    bottom: -1130px;
}
}